<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Studentska Sluzba</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
    </div>
    <div class="collapse navbar-collapse d-flex  align-items-center" id="navbar4">
        
          <span class="text-info">loggedin user</span> <a (click)="logout()" class="btn navbar-btn ml-md-2 btn-light">Logout</a>
        
        <!-- <ng-template #notLoggedInTemplate>
            <a routerLink="/login" class="btn navbar-btn ml-md-2 btn-light">Login</a>
        </ng-template> -->
      </div>
  </div>
  </nav>
