<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between">
	<a class="navbar-brand" href="#">Studentska služba</a>
	<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px">
		<img width="30px" height="30px" src="../../assets/UserLogo.png" alt="" />
		<div style="color: white">{{ loggedUser.username }}</div>
	</div>
	<a (click)="logout()" class="btn navbar-btn ml-md-2 btn-light" style="cursor: pointer">Odjava</a>
	<!-- <ng-template #notLoggedInTemplate>
            <a routerLink="/login" class="btn navbar-btn ml-md-2 btn-light">Login</a>
        </ng-template> -->
</nav>
