<div class="container-fluid">
	<div class="" style="display: flex; flex-direction: row">
		<div class="col-5">
			<mat-card class="example-card">
				<mat-card-header>
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title>Predmet : {{ exam.course.name }}</mat-card-title>
					<mat-card-subtitle>Ispitni rok : {{ exam.period }} </mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<div>
						<mat-list>
							<mat-list-item *ngFor="let staff of staffList">
								<span>{{ staff.academic.name + ' ' }} : </span>{{ staff.lastName + ' ' }}{{ staff.firstName }}
							</mat-list-item>
						</mat-list>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button [disabled]="!canArhivate" mat-raised-button (click)="archived()">Arhivirati ispit</button>
					<button [disabled]="!canSetQuestions" mat-raised-button (click)="dodajZadatak()">Dodati zadatak</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-7">
			<h3>Lista testova za ispit</h3>
			<div>
				<mat-list>
					<mat-list-item *ngFor="let examTest of examTestList">
						<div mat-line>
							<span>{{ 'Tema : ' + examTest.tema + ' Pocetak : ' }}</span
							>{{ examTest.testStart | date : 'medium' }}
						</div>
						<button mat-raised-button (click)="showTest(examTest)" style="background-color: rgb(241, 150, 150)">Prikazi test</button>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</div>
	<div>
		<h3>Lista studenata koji su prijavili ispit</h3>

		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource">
				<!-- cardNumber Column -->
				<ng-container matColumnDef="cardNumber">
					<mat-header-cell *matHeaderCellDef> Card Number </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration"> {{ examRegistration.student.cardNumber }} </mat-cell>
				</ng-container>

				<!-- First Name Column -->
				<ng-container matColumnDef="firstName">
					<mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration"> {{ examRegistration.student.firstName }} </mat-cell>
				</ng-container>

				<!-- Last Name Column -->
				<ng-container matColumnDef="lastName">
					<mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration"> {{ examRegistration.student.lastName }} </mat-cell>
				</ng-container>

				<!-- Points Column -->
				<ng-container matColumnDef="points">
					<mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration"> {{ examRegistration.points }} </mat-cell>
				</ng-container>

				<!-- Mard Column -->
				<ng-container matColumnDef="mark">
					<mat-header-cell *matHeaderCellDef> Mark </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration"> {{ examRegistration.mark }} </mat-cell>
				</ng-container>

				<!-- Pass Column -->
				<ng-container matColumnDef="pass">
					<mat-header-cell *matHeaderCellDef> Pass </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration" [ngClass]="{ class1: examRegistration.deleted }"> {{ examRegistration.pass }} </mat-cell>
				</ng-container>

				<!-- Details Column -->
				<ng-container matColumnDef="details">
					<mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell *matCellDef="let examRegistration">
						<button type="button" mat-raised-button style="float: right" [disabled]="!canAddPoints" (click)="addMark(examRegistration)">Add Points</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</table>
		</div>
	</div>
	<div *ngIf="showInsertStudentMark" style="margin-top: 1.5em" style="background: rgb(250, 206, 228)">
		<h3>Upisati poene studenta</h3>
		<mat-card style="margin: 1.5em">
			<mat-card-content style="background-color: rgb(233, 233, 233)">
				<form [formGroup]="examRegistrationForm" (ngSubmit)="onSubmitPoints(examRegistrationForm.value)" novalidate>
					<mat-label class="student">
						<span> {{ selectedStudent.cardNumber }} </span>
						<span class="demo-2"> -- {{ selectedStudent.firstName }} </span>
						<span> {{ selectedStudent.lastName }} </span>
					</mat-label>

					<mat-form-field class="student" appearance="standard">
						<mat-label>Points</mat-label>
						<input formControlName="points" matInput placeholder="points" />
						<mat-error *ngIf="examRegistrationForm.get('points').invalid && examRegistrationForm.get('points').touched"> Points are <strong>required</strong> </mat-error>
					</mat-form-field>

					<div class="student" style="padding-bottom: 2em">
						<button [disabled]="!examRegistrationForm.valid" type="submit" mat-raised-button style="float: left">Ucitan poene</button>
						<button type="button" mat-raised-button style="float: left" (click)="onClear()">Clear</button>
						<button type="button" mat-raised-button style="float: right" (click)="onCancel()">Cancel</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>
