<div class="container-fluid">
    <ng-container *ngIf="infinite | async as answerList " >
        <div > 
            <h2 >Test na temu :  {{ workTest.examTest.tema}} <span style="color: red;float: right;margin-right: 10px;" >Broj bodova : {{workTest.bodovi}} </span></h2>
            
        </div>
        <div class="row">
            <div class="col-11 time" >
                <mat-card class="example-card" *ngFor="let answer of answerList; let i=index; trackBy: trackByIdx">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{i+1}}. Pitanje : {{answer.question.pitanje}} </mat-card-title>
                        <mat-card-subtitle>Bodova : {{answer.question.bodovi}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div >
                            <p [ngClass]="{'green': true}" >Odgovor 1 : {{answer.question.odgovor1}} </p>
                            <p [ngClass]="{'blue':true,'red': answer.odgovor===answer.question.odgovor2 }" >Odgovor 2 : {{answer.question.odgovor2}} </p>
                            <p [ngClass]="{'blue':true,'red': answer.odgovor===answer.question.odgovor3}" >Odgovor 3 : {{answer.question.odgovor3}} </p>
                            <p [ngClass]="{'blue':true,'red': answer.odgovor===answer.question.odgovor4}" >Odgovor 4 : {{answer.question.odgovor4}} </p>
                            <p [ngClass]="{'green': answer.tacan,'red': !answer.tacan}" >Dat odgovor : {{answer.odgovor}} </p>
                            <p *ngIf="answer.tacan" [ngClass]="{'green':true}" >Bodova : {{answer.question.bodovi}} </p>
                            <p *ngIf="!answer.tacan" [ngClass]="{'red': true}" >Bodova : 0 </p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-1">
                <button  mat-raised-button  (click)="nazad(workTest.examTest)">Nazad</button>
            </div>
        </div>
    </ng-container>
</div>