
<div class="container-fluid">
  <!-- If not logged in: -->
  <!-- <div *ngIf="loggedIn; else notLoggedInTemplate"> -->
    <!--If logged in: -->
    <app-navbar [loggedIn]="loggedIn" (logoutEvent)="logout()"></app-navbar>
    <div class="row">
      <div class="col-9" >
        <router-outlet></router-outlet>
      </div>
      <div class="col-3 ">
        <h4 style="text-align: center;">Main menu</h4>
        <router-outlet name="sidemenu"></router-outlet>
      </div>
    </div>
  <!-- </div> -->

  <!-- <ng-template #notLoggedInTemplate>
   
          <app-login (childEvent)="loggedIn=$event"></app-login>
       
    
  </ng-template> -->

</div>