.main-menu-container {
	background-color: rgb(72, 78, 84);
}
.main-menu-list-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	background-color: rgb(52, 58, 64);
	border-bottom: 1px solid rgb(72, 78, 84);
	cursor: pointer;
}
.main-menu-list-item:hover {
	background-color: rgb(82, 88, 94);
}
.main-menu-link-style {
	width: 100%;
	padding: 10px 20px;
	height: 42px;
	color: white;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: none;
}
