<div class="main-menu-container">
	<!-- admin meni -->
	<div *ngIf="isAdminRole" class="main-menu-list-item">
		<a routerLink="/student" class="main-menu-link-style"> Studenti </a>
	</div>
	<div *ngIf="isAdminRole" class="main-menu-list-item">
		<a routerLink="/course" class="main-menu-link-style"> Predmeti </a>
	</div>
	<div *ngIf="isAdminRole" class="main-menu-list-item">
		<a routerLink="/staff" class="main-menu-link-style"> Personal </a>
	</div>
	<div *ngIf="isAdminRole" class="main-menu-list-item">
		<a routerLink="/exam" class="main-menu-link-style"> Ispiti </a>
	</div>
	<div *ngIf="isAdminRole" class="main-menu-list-item">
		<a routerLink="/document" class="main-menu-link-style"> Dokumenta </a>
	</div>

	<!-- studentski meni -->
	<div *ngIf="isUserRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/showcourses" class="main-menu-link-style"> Predmeti </a>
	</div>
	<div *ngIf="isUserRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/examregistration" class="main-menu-link-style"> Prijava/Odjava ispita </a>
	</div>
	<div *ngIf="isUserRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/examtestregistrationcomponent" class="main-menu-link-style"> Prijavljeni ispiti </a>
	</div>
	<div *ngIf="isUserRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/passedexams" class="main-menu-link-style"> Položeni ispiti </a>
	</div>
	<div *ngIf="isUserRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/payment" class="main-menu-link-style"> Finansijska kartica </a>
	</div>

	<!-- profesorski meni -->
	<div *ngIf="isProfRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/profexam" class="main-menu-link-style"> Predmeti </a>
	</div>
	<div *ngIf="isProfRole && !isAdminRole" class="main-menu-list-item">
		<a routerLink="/profexam" class="main-menu-link-style"> Ispiti/Ocene ispita </a>
	</div>
</div>
